[user]
	email = 61091285+cmlcode@users.noreply.github.com
	name = Chris Lewis
  signingkey = ~/.ssh/id_ed25519.pub
[core]
	editor = nvim
[gpg]
	format = ssh
[commit]
	gpgsign = true
[credential]
	helper = cache
[init]
	defaultBranch = main
